### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
# Fetching the Total Number of Unique Players
total_players = purchase_data['SN'].value_counts().count()
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Computing the Unique Items purchased by the players
unique_items = purchase_data['Item ID'].value_counts().count()
unique_items

# Computing the average price of each item
average_price = round(purchase_data['Price'].mean(), 2)
average_price

# Computing Total Number of purchases
total_purchases = purchase_data['Purchase ID'].count()

# Computing Total Revenue from Purchases
total_revenue = purchase_data['Price'].sum()

computations = {"Unique Items": [unique_items],
                "Average Price": [average_price],
                "Total Purchase Count": [total_purchases],
                "Total Revenue": [total_revenue]}
        
# Creating a Summary DataFrame
summary_df = pd.DataFrame(computations)
summary_df

   Unique Items  Average Price  Total Purchase Count  Total Revenue
0           183           3.05                   780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Computing Distinct Player count based on Genders
distinct_players = purchase_data.groupby('Gender')['SN'].nunique()


# Male Players
distinct_male_players = round(distinct_players['Male'])
perc_male = round((distinct_male_players/total_players)*100, 2)


# Female Players
distinct_female_players = distinct_players['Female']
perc_female = round((distinct_female_players/total_players)*100, 2)


# Other/Non Disclosed Players
distinct_other_players = distinct_players['Other / Non-Disclosed']
perc_others = round((distinct_other_players/total_players)*100, 2)


# Creating a Pandas DataFrame
computations = {"Count": {"Male": distinct_male_players, "Female": distinct_female_players, "Others /Non-Disclosed": distinct_other_players},
                "Percentage": {"Male": perc_male, "Female": perc_female, "Others /Non-Disclosed": perc_others}}


gender_demographics_df = pd.DataFrame(computations)
gender_demographics_df

                       Count  Percentage
Female                    81       14.06
Male                     484       84.03
Others /Non-Disclosed     11        1.91


 # Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Computing Purchase Count by Gender
purchase_gender = purchase_data.groupby('Gender')['Price'].sum()

# Purchase Computations - Male
purchase_count_male = round(purchase_gender['Male'], 2)
avg_price_male = round(purchase_count_male/distinct_male_players, 2)

# Purchase Computations - Female
purchase_count_female = round(purchase_gender['Female'], 2)
avg_price_female = round(purchase_count_female/distinct_female_players, 2)

# Purchase Computations - Others / Non-Disclosed
purchase_count_others = round(purchase_gender['Other / Non-Disclosed'], 2)
avg_price_others = round(purchase_count_others/distinct_other_players, 2)

# Creating a Pandas DataFrame
computations = {"Purchase Count": {"Male": purchase_count_male, "Female": purchase_count_female, "Others /Non-Disclosed": purchase_count_others},
                "Average Purchase Count": {"Male": avg_price_male, "Female": avg_price_female, "Others /Non-Disclosed": perc_others}}

purchase_data_gender_df = pd.DataFrame(computations)
purchase_data_gender_df.head()

                       Purchase Count  Average Purchase Count
Female                         361.94                    4.47
Male                          1967.64                    4.07
Others /Non-Disclosed           50.19                    1.91

# Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [23]:
bins = [0,9,14,19,24,29,34,39, 100]

# Create labels for these bins
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

# Creating bins in Pandas DataFrane
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], bins, labels=age_labels)

# Grouping the DataFrame based on 'Age Group'
age_demo_df= purchase_data.groupby(["Age Group"])
age_demo_df.count()

# Computing the Total Count
total_count=age_demo_df["Age Group"].count()

# Computing Percentage of people in each Age Group
percentage=round((total_count/purchase_data["SN"].count())*100, 2)

# Creating a Pandas DataFrame
summary_age_demo= pd.DataFrame({"Total Count":total_count, "Percentage of Players" :percentage})

summary_age_demo["Percentage of Players"]= summary_age_demo["Percentage of Players"].map("{:.2f}".format)

summary_age_demo.head()

           Total Count Percentage of Players
Age Group
<10                 23                  2.95
10-14               28                  3.59
15-19              136                 17.44
20-24              365                 46.79
25-29              101                 12.95

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
# Count the unique items
unique_items=len(purchase_data["Item ID"].unique())

# Compute the Average Price
average_price=(purchase_data["Price"].mean())

# Compute the number of purchases
number_of_purchases=purchase_data["Purchase ID"].count()

# Compute the Total Revenue
total_revenue=purchase_data["Price"].sum()

# Creating a Pandas DataFrame
purchasing_analysis_df=pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[average_price], 
                                     "Number of Purchases":[number_of_purchases],"Total Revenue":[total_revenue]})
purchasing_analysis_df["Total Revenue"] = purchasing_analysis_df["Total Revenue"].map("$ {:,.2f}".format)
purchasing_analysis_df["Average Price"] = purchasing_analysis_df["Average Price"].map("$ {:,.2f}".format)
purchasing_analysis_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183        $ 3.05                  780    $ 2,379.77

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [25]:
spender_df = purchase_data.groupby(["SN"])

purchase_count1 = spender_df["Purchase ID"].count()

average_purchaseprice1 = spender_df["Price"].mean()

total_purchase_value1 = spender_df["Price"].sum()

spender_analysis = pd.DataFrame({"Purchase Count":purchase_count1, "Average Purchase Price" :average_purchaseprice1,
                                "Total Purchase Value": total_purchase_value1})

spender_analysis_sort = spender_analysis.sort_values("Total Purchase Value", ascending=False)

spender_analysis_sort["Average Purchase Price"] = spender_analysis_sort["Average Purchase Price"].map("$ {:.2f}".format)

spender_analysis_sort["Total Purchase Value"] = spender_analysis_sort["Total Purchase Value"].map("$ {:.2f}".format)

spender_analysis_sort.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                 $ 3.79              $ 18.96
Idastidru52               4                 $ 3.86              $ 15.45
Chamjask73                3                 $ 4.61              $ 13.83
Iral74                    4                 $ 3.40              $ 13.62
Iskadarya95               3                 $ 4.37              $ 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
popular_items=purchase_data.groupby(["Item ID", "Item Name"])


purchase_count=popular_items["Purchase ID"].count()


item_price=popular_items["Price"].mean()

total_purchase_value=popular_items["Price"].sum()
total_purchase_value.max

popular_analysis= pd.DataFrame({"Purchase Count":purchase_count,"Item Price" :item_price,
                                "Total Purchase Value": total_purchase_value})

popular_analysis_sort=popular_analysis.sort_values("Purchase Count", ascending=False)

popular_analysis_sort["Item Price"] = popular_analysis_sort["Item Price"].map("$ {:.2f}".format)
popular_analysis_sort["Total Purchase Value"] = popular_analysis_sort["Total Purchase Value"].map("$ {:.2f}".format)

popular_analysis_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$ 3.53,$ 31.77
82,Nirvana,9,$ 4.90,$ 44.10
19,"Pursuit, Cudgel of Necromancy",8,$ 1.02,$ 8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [27]:
popular_analysis.head()

profitable_analysis_sort=popular_analysis.sort_values("Total Purchase Value", ascending=False)

profitable_analysis_sort["Item Price"] = profitable_analysis_sort["Item Price"].map("$ {:.2f}".format)
profitable_analysis_sort["Total Purchase Value"] = profitable_analysis_sort["Total Purchase Value"].map("$ {:.2f}".format)

profitable_analysis_sort.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$ 4.23,$ 50.76
82,Nirvana,9,$ 4.90,$ 44.10
145,Fiery Glass Crusader,9,$ 4.58,$ 41.22
92,Final Critic,8,$ 4.88,$ 39.04
103,Singed Scalpel,8,$ 4.35,$ 34.80